@import "tailwindcss";

@theme{
  --breakpoint-1xs: 22rem;
  --breakpoint-ss: 23rem;
  --breakpoint-xs: 27rem;
  --breakpoint-xm: 52rem;
  --breakpoint-sl: 69rem;
}

@layer utilities {

  /* Custom padding classes */
  .pt-260 {
    padding-top: 260px !important;
  }

  .pb-100 {
    padding-bottom: 100px !important;
  }

  /* Keyframes */
  @keyframes updown {
    0%, 100% {
      transform: translateY(-20px);
    }
    50% {
      transform: translateY(20px);
    }
  }

  /* Animation class using the keyframes */
  .animate-updown {
    animation: updown 3s linear infinite;
  }
}